<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="{{url_for('static', filename='css/materialize.css')}}" rel="stylesheet">
    <link href="{{url_for('note.static', filename='css/quill.snow.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title></title>
</head>

<body >
    
{% if note is defined %}
	{% if edit %}
		<div class="col s12 m9">

			<form action="{{url_for('note.edit_webview_post', token=token, _id=note.id)}}" id="add_note" method="post">

			<input type="text" value={{note.title}} name="title">

			<div id="toolbar">
				<span class="ql-formats">
				<select class="ql-font"></select>
				<select class="ql-size"></select>
				</span>
				<span class="ql-formats">
				<button class="ql-bold"></button>
				<button class="ql-italic"></button>
				<button class="ql-underline"></button>
				<button class="ql-strike"></button>
				</span>
				<span class="ql-formats">
				<select class="ql-color"></select>
				<select class="ql-background"></select>
				</span>
				<span class="ql-formats">
				<button class="ql-script" value="sub"></button>
				<button class="ql-script" value="super"></button>
				</span>
				<span class="ql-formats">
				<button class="ql-header" value="1"></button>
				<button class="ql-header" value="2"></button>
				<button class="ql-blockquote"></button>
				<button class="ql-code-block"></button>
				</span>
				<span class="ql-formats">
				<button class="ql-list" value="ordered"></button>
				<button class="ql-list" value="bullet"></button>
				<button class="ql-list" value="check"></button>
				<button class="ql-indent" value="-1"></button>
				<button class="ql-indent" value="+1"></button>
				</span>
				<span class="ql-formats">
				<button class="ql-direction" value="rtl"></button>
				<select class="ql-align"></select>
				</span>
				<span class="ql-formats">
				<button class="ql-link"></button>
				<button class="ql-image"></button>
				<button class="ql-video"></button>
				<button class="ql-formula"></button>
				</span>
				<span class="ql-formats">
				<button class="ql-clean"></button>
				</span>
			</div>
			{% autoescape off %}
			<div id="editor">
				{{ note.text }}
			</div>
			{% endautoescape %}
		
			
			<div class="fixed-action-btn">
					<button class="btn-floating btn-large red">
						<i class="large material-icons">mode_edit</i>
					</button>
			</div>

			</form>

		</div>
	{% else %}
		<div class="col s12 m9">
			
			<div id="toolbar"><h3>{{ note.title }}</h3></div>
			{% autoescape off %}
			<div id="editor">
				{{ note.text }}
			</div>
			{% endautoescape %}
		</div>
	{% endif %}
{% endif %}



<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/materialize.js')}}"></script>
<!-- Include the Quill library -->
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

<!-- Initialize Quill editor -->
<script>
	var editor = new Quill('#editor', {
		modules: { toolbar: '#toolbar' },
		theme: 'snow'
	});

	var edit = "{{edit}}";

	if(edit == "False"){
		editor.enable(false); 
	}

	

	$(document).ready(function(){
		$("#add_note").on("submit", function () {
			var hvalue = $('.ql-editor').html();
			$(this).append("<textarea name='content' style='display:none'>"+hvalue+"</textarea>");
		});
	});
</script>

</body>
</html>








